body {
    font-family: "Agdasima", sans-serif;
}

.b-panel {
    padding: 16px;

    &_right {
        float: right;
    }
}

#g-game {
    font-family: "Agdasima", sans-serif;
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    min-width: 320px;
    min-height: 240px;
}

.b-msgbox {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 16px;
    display: none;

}

.b-scores {
    list-style: decimal outside;
    padding-left: 32px;

    &__input {
        padding: 4px;
        outline: 0;
    }
}

.b-button {
    padding: 8px;
    margin: 16px 0;
    outline: 0;

    &:hover,
    &:focus {

        cursor: pointer;
        text-decoration: underline;
    }
}

.m- {
    &green {
        background: #010;
        color: #0f0;
        text-shadow: 0px 0px 5px #0d0;

        & .b-msgbox {
            background-color: #010;
        }

        & .b-scores__input,
        & .b-button {
            font-family: "Agdasima", sans-serif;
            background-color: #010;
            color: #0f0;
            text-shadow: 0px 0px 5px #0d0;
            border: 1px solid #0f0;
        }
    }

    &blue {
        background: #001;
        color: #09f;
        text-shadow: 0px 0px 5px #09f;

        & .b-msgbox{
            background: #001;
        }

        & .b-scores__input,
        & .b-button {
            font-family: "Agdasima", sans-serif;
            background: #001;
            color: #09f;
            text-shadow: 0px 0px 5px #09f;
            border: 1px solid #09f;
        }
    }

    &red {
        background: #100;
        color: #f00;
        text-shadow: 0px 0px 5px #f00;

        & .b-msgbox {
            background: #100;
        }

        & .b-scores__input,
        & .b-button {
            font-family: "Agdasima", sans-serif;
            background: #100;
            color: #f00;
            text-shadow: 0px 0px 5px #f00;
            border: 1px solid #f00;
        }
    }
}
